:root {
    --blueish: #797596;
    --pink: #A1869E;
    --pale: #BBADA0;
    --bone: #D1C6AD;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;
}

.page-wrap {
    background-color: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 1px;
}

.page-wrap > * {
    padding: 1rem;
}

.page-header, .page-footer {
    text-align: center;
}

.page-header {
    background-color: var(--blueish);
}

.page-main {
    background-color: var(--bone);
}

.data-input-form {
    background-color: var(--pale);
}

.cv-result {
    background-color: white;
}

.page-footer {
    background-color: var(--pink);
}