:root {
    --blueish: #797596;
    --pink: #A1869E;
    --pale: #BBADA0;
    --bone: #D1C6AD;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    padding: 5px;
    height: 100vh;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.page-wrap {
    background-color: white;
    height: calc(100vh - 10px);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 1px;
}

.page-wrap > * {
    padding: 1rem;
}

.page-header, .page-footer {
    text-align: center;
    color: white;
}

.page-header {
    background-color: var(--blueish);
}

.page-main {
    background-color: var(--pale);
}

.data-input-form {
    background-color: var(--bone);
    padding: 1.5rem;
}

.data-input-form > form {
    display: grid;
    gap: 1.2rem;
}

.general-info-input {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.2rem;
}

.edu-exp-input {
    display: grid;
    grid-template-rows: 1fr min-content;
}

.exp-input > ul , .prac-input > ul{
    display: grid;
    gap: 1.2rem;
}

.edu-entry-input, .prac-input-entry {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
}

.edu-entry-input > div {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.2rem;
}

.prac-entry {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 1.2rem;
}

fieldset {
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.33);
}

button {
    border-radius: 12px;
    padding: .5rem;
    height: min-content;
}

.entry-input-list {
    list-style: none;
}

.cv-result {
    background-color: white;
    padding: 1.5rem;
}

input, textarea {
    height: min-content;
    padding: .5rem;
    border-radius: 12px;
}

.add-btn, .remove-btn {
    background-color: var(--blueish);
    color: white;
}

.remove-btn {
    background-color: var(--pink);
    color: white;
}

.page-footer {
    background-color: var(--pink);
}